 
  /* Aplica-se apenas em telas menores que 768px (celulares) */
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 2.5rem !important; /* Títulos menores */
      text-align: center !important;
    }

    #festival-text,
    #festival-text2 {
      font-size: 1rem !important;
      padding: 0 20px; /* Espaçamento lateral */
      text-align: justify !important; /* Melhor leitura */
    }

    #festival-text p,
    #festival-text2 p {
      margin-bottom: 1.2rem;
    }

    .container {
      margin-left: 0 !important; /* Remove o deslocamento lateral */
    }
  }


