  .imagem-fullscreen {
    background-image: url('imagens/imagemheropolos.PNG'); /* seu caminho */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }



    .programacao-section {
    padding: 60px 20px;
    color: white;
    position: relative;
    text-align: center;
  }

  .programacao-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #74F759;
    margin-bottom: 10px;
  }

  .programacao-section .subtitulo {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .programacao-section .subtitulo strong {
    color: #74F759;
  }

  .bloco-rosa {
    background-color: #EF3BA9;
    padding: 30px 40px;
    border-radius: 25px;
    margin: 0 auto 40px auto;
    max-width: 900px;
    text-align: left;
  }

  .bloco-rosa ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .bloco-rosa ul li {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    position: relative;
  }

  .bloco-rosa ul li::before {
    content: "–";
    margin-right: 10px;
    color: white;
  }

  .programacao-section .observacao {
    font-size: 1.1rem;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    text-align: left;
  }
















  .sessao-polos {
  background-color: #0f2507;
  padding: 30px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 10px #000;
  border: 1px solid #263c1b;
}

/* Blocos de cada polo */
.bloco-polo {
  display: flex;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Coluna com logotipo */
.col-logo {
  width: 220px;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  background-color: #1a3e0b;
}

.col-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Coluna central com o texto */
.col-texto {
  flex: 1;
  padding: 15px;
  border-right: 1px solid #fff;
  color: #fff;
}

.col-homenagem {
  width: 260px;
  padding: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.col-texto h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.col-texto p,
.col-homenagem p {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

.destaque {
  color: #4cff4c;
}