.hero-carbono {
  background-image: url('imagens/bg2\ \(1\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* preenche 100% da tela */
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-text-box {
  background-color: #000;
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.hero-text-box h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin: 0;
}

.hero-text-box .verde {
  color: #76F659;
  font-style: normal;
}

.hero-images .img-hero {
  max-width:500px;
  height: auto;
}

/* Responsivo */
@media (max-width: 576px) {
  .hero-text-box h1 {
    font-size: 1.5rem;
  }

  .hero-images .img-hero {
    max-width: 300px;
  }
}






















.sessao-carbono {
  background-image: url('bg-floresta.jpg'); /* Substitua com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  color: #fff;
}

.container-carbono {
  max-width: 1000px;
  margin: 0 auto;
}

.titulo-topo {
  color: #93BC3A;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.titulo-principal {
  font-size: 3rem;
  color: #73F757;
  font-weight: bold;
  margin-bottom: 30px;
}

.titulo-principal span {
  color: #73F757;
}

.verde {
  color: #73F757;
  font-weight: 600;
}

.verde-claro {
  color: #73F757;
}

.sessao-carbono p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sessao-carbono ul {
  padding-left: 20px;
  margin-bottom: 30px;
}

.sessao-carbono ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}
